body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:60px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:22px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u5283 {
  position:absolute;
  left:10px;
  top:12px;
  width:231px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u5284 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u5285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5285 {
  position:absolute;
  left:833px;
  top:22px;
  width:139px;
  height:16px;
}
#u5286 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u5287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5287 {
  position:absolute;
  left:1001px;
  top:22px;
  width:29px;
  height:16px;
}
#u5288 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  position:absolute;
  left:1057px;
  top:22px;
  width:29px;
  height:16px;
}
#u5290 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5291 {
  position:absolute;
  left:1111px;
  top:22px;
  width:29px;
  height:16px;
}
#u5292 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5293 {
  position:absolute;
  left:1180px;
  top:15px;
  width:100px;
  height:30px;
}
#u5293_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5294 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u5295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5295 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5296 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5297 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u5297_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5298 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u5299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5299 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5300 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5301 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u5302 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u5303 {
  position:absolute;
  left:1280px;
  top:27px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u5304 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:651px;
}
#u5305p000 {
  position:absolute;
  left:-325px;
  top:324px;
  width:651px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5305p000_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:653px;
  height:4px;
}
#u5305p001 {
  position:absolute;
  left:0px;
  top:649px;
  width:1330px;
  height:1px;
}
#u5305p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:1332px;
  height:4px;
}
#u5305p002 {
  position:absolute;
  left:1004px;
  top:324px;
  width:651px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5305p002_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:652px;
  height:4px;
}
#u5305.compound {
  width:0px;
  height:0px;
}
#u5305 {
  position:absolute;
  left:0px;
  top:60px;
  width:1330px;
  height:650px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u5306 {
  position:absolute;
  left:2px;
  top:317px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:651px;
}
#u5307 {
  position:absolute;
  left:150px;
  top:60px;
  width:1px;
  height:650px;
}
#u5308 {
  position:absolute;
  left:2px;
  top:317px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309 {
  position:absolute;
  left:16px;
  top:73px;
  width:124px;
  height:245px;
}
#u5309_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u5311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5311 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u5312 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u5313 {
  position:absolute;
  left:0px;
  top:20px;
  width:119px;
  height:20px;
}
#u5314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5314 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5314_img.selected {
}
#u5314.selected {
}
#u5315 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5316 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u5317 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u5313_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5318 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5319 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5320 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5321 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5322 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5323 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5324 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5325 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5326 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5327 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u5328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5328 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5329 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5330 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u5331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5331 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5332 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5333 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u5334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5334 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5335 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5336 {
  position:absolute;
  left:20px;
  top:140px;
  width:95px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0071CE;
}
#u5337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5337 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5338 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5339 {
  position:absolute;
  left:0px;
  top:180px;
  width:106px;
  height:20px;
}
#u5340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5340 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5341 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5342 {
  position:absolute;
  left:0px;
  top:200px;
  width:80px;
  height:20px;
}
#u5343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5343 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5344 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5345 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
}
#u5346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5347 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5348 {
  position:absolute;
  left:173px;
  top:154px;
  width:1133px;
  height:73px;
}
#u5349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:35px;
}
#u5349 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5350 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u5351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:35px;
}
#u5351 {
  position:absolute;
  left:244px;
  top:0px;
  width:481px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5352 {
  position:absolute;
  left:2px;
  top:10px;
  width:477px;
  word-wrap:break-word;
}
#u5353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:35px;
}
#u5353 {
  position:absolute;
  left:725px;
  top:0px;
  width:403px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5354 {
  position:absolute;
  left:2px;
  top:10px;
  width:399px;
  word-wrap:break-word;
}
#u5355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:33px;
}
#u5355 {
  position:absolute;
  left:0px;
  top:35px;
  width:244px;
  height:33px;
  color:#0071CE;
  text-align:left;
}
#u5356 {
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  word-wrap:break-word;
}
#u5357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:33px;
}
#u5357 {
  position:absolute;
  left:244px;
  top:35px;
  width:481px;
  height:33px;
  text-align:left;
}
#u5358 {
  position:absolute;
  left:2px;
  top:8px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:33px;
}
#u5359 {
  position:absolute;
  left:725px;
  top:35px;
  width:403px;
  height:33px;
}
#u5360 {
  position:absolute;
  left:2px;
  top:8px;
  width:399px;
  word-wrap:break-word;
}
#u5361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5362 {
  position:absolute;
  left:173px;
  top:93px;
  width:230px;
  height:25px;
}
#u5363 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5364 {
  position:absolute;
  left:179px;
  top:94px;
  width:220px;
  height:23px;
}
#u5364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u5365 {
  position:absolute;
  left:377px;
  top:95px;
  width:21px;
  height:20px;
}
#u5366 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5367 {
  position:absolute;
  left:1192px;
  top:90px;
  width:109px;
  height:25px;
}
#u5367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5368 {
  position:absolute;
  left:330px;
  top:232px;
  width:777px;
  height:615px;
}
#u5369 {
  position:absolute;
  left:2px;
  top:300px;
  width:773px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#0071CE;
}
#u5370 {
  position:absolute;
  left:349px;
  top:245px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#0071CE;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5372 {
  position:absolute;
  left:371px;
  top:277px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:367px;
}
#u5374 {
  position:absolute;
  left:380px;
  top:295px;
  width:664px;
  height:367px;
}
#u5375 {
  position:absolute;
  left:2px;
  top:176px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5376 {
  position:absolute;
  left:454px;
  top:273px;
  width:142px;
  height:25px;
}
#u5376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5377 {
  position:absolute;
  left:393px;
  top:682px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u5378 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5379 {
  position:absolute;
  left:454px;
  top:682px;
  width:583px;
  height:84px;
}
#u5379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5380 {
  position:absolute;
  left:495px;
  top:811px;
  width:101px;
  height:25px;
}
#u5380_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5381 {
  position:absolute;
  left:838px;
  top:811px;
  width:101px;
  height:25px;
}
#u5381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
