body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:60px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:22px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u5115 {
  position:absolute;
  left:10px;
  top:12px;
  width:231px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u5116 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  position:absolute;
  left:833px;
  top:22px;
  width:139px;
  height:16px;
}
#u5118 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5119 {
  position:absolute;
  left:1001px;
  top:22px;
  width:29px;
  height:16px;
}
#u5120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:1057px;
  top:22px;
  width:29px;
  height:16px;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5123 {
  position:absolute;
  left:1111px;
  top:22px;
  width:29px;
  height:16px;
}
#u5124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5125 {
  position:absolute;
  left:1180px;
  top:15px;
  width:100px;
  height:30px;
}
#u5125_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5126 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5127 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5128 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5129 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u5129_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5130 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5131 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5133 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u5135 {
  position:absolute;
  left:1280px;
  top:27px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u5136 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:651px;
}
#u5137p000 {
  position:absolute;
  left:-325px;
  top:324px;
  width:651px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5137p000_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:653px;
  height:4px;
}
#u5137p001 {
  position:absolute;
  left:0px;
  top:649px;
  width:1330px;
  height:1px;
}
#u5137p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:1332px;
  height:4px;
}
#u5137p002 {
  position:absolute;
  left:1004px;
  top:324px;
  width:651px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5137p002_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:652px;
  height:4px;
}
#u5137.compound {
  width:0px;
  height:0px;
}
#u5137 {
  position:absolute;
  left:0px;
  top:60px;
  width:1330px;
  height:650px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u5138 {
  position:absolute;
  left:2px;
  top:317px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:651px;
}
#u5139 {
  position:absolute;
  left:150px;
  top:60px;
  width:1px;
  height:650px;
}
#u5140 {
  position:absolute;
  left:2px;
  top:317px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5141 {
  position:absolute;
  left:16px;
  top:73px;
  width:124px;
  height:245px;
}
#u5141_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u5143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5143 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u5144 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u5145 {
  position:absolute;
  left:0px;
  top:20px;
  width:119px;
  height:20px;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5146 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5146_img.selected {
}
#u5146.selected {
}
#u5147 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5148 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u5149 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u5145_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5150 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5151 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5152 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5153 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5154 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5155 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5156 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5157 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5158 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5159 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5160 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5161 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5162 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u5163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5163 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5164 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5165 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0071CE;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5166 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5167 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5168 {
  position:absolute;
  left:20px;
  top:140px;
  width:95px;
  height:20px;
}
#u5169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5169 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5170 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5171 {
  position:absolute;
  left:0px;
  top:180px;
  width:106px;
  height:20px;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5172 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5173 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5174 {
  position:absolute;
  left:0px;
  top:200px;
  width:80px;
  height:20px;
}
#u5175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5175 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5176 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5177 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5179 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5180 {
  position:absolute;
  left:161px;
  top:70px;
  width:243px;
  height:30px;
}
#u5180_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:249px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:35px;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5182 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5183 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u5184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5184 {
  position:absolute;
  left:81px;
  top:0px;
  width:81px;
  height:30px;
  color:#1E1E1E;
}
#u5185 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u5186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5186 {
  position:absolute;
  left:162px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0071CE;
}
#u5187 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u5188_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1183px;
  height:5px;
}
#u5188 {
  position:absolute;
  left:150px;
  top:105px;
  width:1180px;
  height:2px;
}
#u5189 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5190 {
  position:absolute;
  left:178px;
  top:177px;
  width:1126px;
  height:73px;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5192 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u5193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u5193 {
  position:absolute;
  left:57px;
  top:0px;
  width:190px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5194 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u5195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
}
#u5195 {
  position:absolute;
  left:247px;
  top:0px;
  width:180px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5196 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u5197 {
  position:absolute;
  left:427px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5198 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u5199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:35px;
}
#u5199 {
  position:absolute;
  left:586px;
  top:0px;
  width:177px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5200 {
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u5201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u5201 {
  position:absolute;
  left:763px;
  top:0px;
  width:125px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5202 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:35px;
}
#u5203 {
  position:absolute;
  left:888px;
  top:0px;
  width:233px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5204 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u5205 {
  position:absolute;
  left:0px;
  top:35px;
  width:57px;
  height:33px;
  text-align:left;
}
#u5206 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:33px;
}
#u5207 {
  position:absolute;
  left:57px;
  top:35px;
  width:190px;
  height:33px;
  text-align:left;
}
#u5208 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u5209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u5209 {
  position:absolute;
  left:247px;
  top:35px;
  width:180px;
  height:33px;
  text-align:left;
}
#u5210 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u5211 {
  position:absolute;
  left:427px;
  top:35px;
  width:159px;
  height:33px;
  text-align:left;
}
#u5212 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u5213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u5213 {
  position:absolute;
  left:586px;
  top:35px;
  width:177px;
  height:33px;
  text-align:left;
}
#u5214 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u5215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
}
#u5215 {
  position:absolute;
  left:763px;
  top:35px;
  width:125px;
  height:33px;
  text-align:left;
}
#u5216 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u5217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:33px;
}
#u5217 {
  position:absolute;
  left:888px;
  top:35px;
  width:233px;
  height:33px;
}
#u5218 {
  position:absolute;
  left:2px;
  top:8px;
  width:229px;
  word-wrap:break-word;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5220 {
  position:absolute;
  left:178px;
  top:131px;
  width:230px;
  height:25px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222 {
  position:absolute;
  left:184px;
  top:132px;
  width:220px;
  height:23px;
}
#u5222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u5223 {
  position:absolute;
  left:382px;
  top:133px;
  width:21px;
  height:20px;
}
#u5224 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5225 {
  position:absolute;
  left:178px;
  top:304px;
  width:493px;
  height:326px;
}
#u5226 {
  position:absolute;
  left:2px;
  top:155px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#0071CE;
}
#u5227 {
  position:absolute;
  left:197px;
  top:323px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#0071CE;
}
#u5228 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5229 {
  position:absolute;
  left:430px;
  top:135px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5230 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5231 {
  position:absolute;
  left:511px;
  top:132px;
  width:127px;
  height:22px;
}
#u5231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5231_input:disabled {
  color:grayText;
}
#u5232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5232 {
  position:absolute;
  left:229px;
  top:363px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5234 {
  position:absolute;
  left:229px;
  top:513px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5236 {
  position:absolute;
  left:229px;
  top:403px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5238 {
  position:absolute;
  left:229px;
  top:442px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5240 {
  position:absolute;
  left:229px;
  top:479px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5242 {
  position:absolute;
  left:340px;
  top:438px;
  width:37px;
  height:25px;
}
#u5242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5243 {
  position:absolute;
  left:364px;
  top:475px;
  width:70px;
  height:25px;
}
#u5243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5244 {
  position:absolute;
  left:264px;
  top:571px;
  width:95px;
  height:25px;
}
#u5244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5245 {
  position:absolute;
  left:466px;
  top:571px;
  width:95px;
  height:25px;
}
#u5245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5246 {
  position:absolute;
  left:1178px;
  top:133px;
  width:121px;
  height:25px;
}
#u5246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5247 {
  position:absolute;
  left:340px;
  top:360px;
  width:121px;
  height:22px;
}
#u5247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5247_input:disabled {
  color:grayText;
}
#u5248 {
  position:absolute;
  left:339px;
  top:510px;
  width:83px;
  height:22px;
}
#u5248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5248_input:disabled {
  color:grayText;
}
#u5249 {
  position:absolute;
  left:340px;
  top:400px;
  width:121px;
  height:22px;
}
#u5249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5249_input:disabled {
  color:grayText;
}
#u5250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5250 {
  position:absolute;
  left:340px;
  top:479px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u5251 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5252 {
  position:absolute;
  left:472px;
  top:443px;
  width:100px;
  height:16px;
}
#u5253 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5252_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:85px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u5254 {
  position:absolute;
  left:178px;
  top:1044px;
  width:347px;
  height:85px;
  color:#FFFFFF;
}
#u5255 {
  position:absolute;
  left:10px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u5256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5256 {
  position:absolute;
  left:387px;
  top:443px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u5257 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5258 {
  position:absolute;
  left:410px;
  top:437px;
  width:37px;
  height:25px;
}
#u5258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:385px;
}
#u5259 {
  position:absolute;
  left:178px;
  top:640px;
  width:1094px;
  height:385px;
}
#u5260 {
  position:absolute;
  left:2px;
  top:184px;
  width:1090px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5261 {
  position:absolute;
  left:725px;
  top:304px;
  width:493px;
  height:326px;
}
#u5262 {
  position:absolute;
  left:2px;
  top:155px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#0071CE;
}
#u5263 {
  position:absolute;
  left:746px;
  top:323px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#0071CE;
}
#u5264 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5265 {
  position:absolute;
  left:777px;
  top:381px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5267 {
  position:absolute;
  left:885px;
  top:381px;
  width:28px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5268 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5269 {
  position:absolute;
  left:777px;
  top:407px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5270 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5271 {
  position:absolute;
  left:885px;
  top:407px;
  width:14px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5272 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5273 {
  position:absolute;
  left:777px;
  top:433px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5274 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5275 {
  position:absolute;
  left:885px;
  top:433px;
  width:43px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5276 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u5277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5277 {
  position:absolute;
  left:777px;
  top:480px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5278 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5279 {
  position:absolute;
  left:777px;
  top:458px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5280 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5281 {
  position:absolute;
  left:885px;
  top:459px;
  width:62px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5282 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5283 {
  position:absolute;
  left:888px;
  top:480px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5284 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5285 {
  position:absolute;
  left:777px;
  top:517px;
  width:92px;
  height:16px;
  font-size:13px;
}
#u5286 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5287 {
  position:absolute;
  left:885px;
  top:513px;
  width:43px;
  height:25px;
}
#u5287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5288 {
  position:absolute;
  left:952px;
  top:518px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u5289 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5290 {
  position:absolute;
  left:777px;
  top:357px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5291 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5292 {
  position:absolute;
  left:885px;
  top:355px;
  width:8px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5293 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5294 {
  position:absolute;
  left:777px;
  top:552px;
  width:405px;
  height:32px;
  font-size:13px;
}
#u5295 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u5296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5296 {
  position:absolute;
  left:1228px;
  top:304px;
  width:150px;
  height:150px;
}
#u5297 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
