body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:576px;
}
#u5400 {
  position:absolute;
  left:300px;
  top:94px;
  width:810px;
  height:576px;
}
#u5401 {
  position:absolute;
  left:2px;
  top:280px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:576px;
}
#u5402 {
  position:absolute;
  left:102px;
  top:94px;
  width:140px;
  height:576px;
}
#u5403 {
  position:absolute;
  left:2px;
  top:280px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5404 {
  position:absolute;
  left:540px;
  top:335px;
  width:100px;
  height:50px;
}
#u5405 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5406 {
  position:absolute;
  left:770px;
  top:535px;
  width:100px;
  height:50px;
}
#u5407 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5408 {
  position:absolute;
  left:540px;
  top:205px;
  width:100px;
  height:50px;
}
#u5409 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5410 {
  position:absolute;
  left:958px;
  top:205px;
  width:100px;
  height:50px;
}
#u5411 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5412 {
  position:absolute;
  left:533px;
  top:535px;
  width:100px;
  height:50px;
}
#u5413 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:576px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5414 {
  position:absolute;
  left:1150px;
  top:94px;
  width:70px;
  height:576px;
}
#u5415 {
  position:absolute;
  left:2px;
  top:280px;
  width:66px;
  word-wrap:break-word;
}
#u5416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5416 {
  position:absolute;
  left:360px;
  top:455px;
  width:100px;
  height:50px;
}
#u5417 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5418 {
  position:absolute;
  left:122px;
  top:170px;
  width:100px;
  height:50px;
}
#u5419 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5420 {
  position:absolute;
  left:122px;
  top:270px;
  width:100px;
  height:50px;
}
#u5421 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5422 {
  position:absolute;
  left:122px;
  top:370px;
  width:100px;
  height:50px;
}
#u5423 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5424 {
  position:absolute;
  left:122px;
  top:470px;
  width:100px;
  height:50px;
}
#u5425 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5426 {
  position:absolute;
  left:870px;
  top:560px;
  width:0px;
  height:0px;
}
#u5426_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:284px;
  height:8px;
}
#u5426_seg1 {
  position:absolute;
  left:267px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5427 {
  position:absolute;
  left:90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5428 {
  position:absolute;
  left:310px;
  top:104px;
  width:57px;
  height:16px;
}
#u5429 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5430 {
  position:absolute;
  left:112px;
  top:104px;
  width:43px;
  height:16px;
}
#u5431 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5432 {
  position:absolute;
  left:958px;
  top:230px;
  width:0px;
  height:0px;
}
#u5432_seg0 {
  position:absolute;
  left:-88px;
  top:-4px;
  width:92px;
  height:8px;
}
#u5432_seg1 {
  position:absolute;
  left:-95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5433 {
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5434 {
  position:absolute;
  left:242px;
  top:382px;
  width:0px;
  height:0px;
}
#u5434_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:242px;
  height:8px;
}
#u5434_seg1 {
  position:absolute;
  left:234px;
  top:-4px;
  width:8px;
  height:246px;
}
#u5434_seg2 {
  position:absolute;
  left:234px;
  top:234px;
  width:348px;
  height:8px;
}
#u5434_seg3 {
  position:absolute;
  left:574px;
  top:203px;
  width:8px;
  height:39px;
}
#u5434_seg4 {
  position:absolute;
  left:568px;
  top:196px;
  width:20px;
  height:20px;
}
#u5435 {
  position:absolute;
  left:188px;
  top:180px;
  width:100px;
  word-wrap:break-word;
}
#u5436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5436 {
  position:absolute;
  left:770px;
  top:205px;
  width:100px;
  height:50px;
}
#u5437 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5438 {
  position:absolute;
  left:770px;
  top:230px;
  width:0px;
  height:0px;
}
#u5438_seg0 {
  position:absolute;
  left:-130px;
  top:-4px;
  width:134px;
  height:8px;
}
#u5438_seg1 {
  position:absolute;
  left:-137px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5439 {
  position:absolute;
  left:-115px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5440 {
  position:absolute;
  left:590px;
  top:385px;
  width:0px;
  height:0px;
}
#u5440_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u5440_seg1 {
  position:absolute;
  left:-4px;
  top:61px;
  width:238px;
  height:8px;
}
#u5440_seg2 {
  position:absolute;
  left:226px;
  top:61px;
  width:8px;
  height:89px;
}
#u5440_seg3 {
  position:absolute;
  left:220px;
  top:137px;
  width:20px;
  height:20px;
}
#u5441 {
  position:absolute;
  left:75px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u5442 {
  position:absolute;
  left:640px;
  top:360px;
  width:0px;
  height:0px;
}
#u5442_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:514px;
  height:8px;
}
#u5442_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5443 {
  position:absolute;
  left:205px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5444 {
  position:absolute;
  left:633px;
  top:560px;
  width:0px;
  height:0px;
}
#u5444_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u5444_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5445 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5446 {
  position:absolute;
  left:360px;
  top:205px;
  width:100px;
  height:50px;
}
#u5447 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5448 {
  position:absolute;
  left:460px;
  top:230px;
  width:0px;
  height:0px;
}
#u5448_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5448_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5449 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5450 {
  position:absolute;
  left:770px;
  top:110px;
  width:100px;
  height:50px;
}
#u5451 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u5452 {
  position:absolute;
  left:820px;
  top:205px;
  width:0px;
  height:0px;
}
#u5452_seg0 {
  position:absolute;
  left:-4px;
  top:-45px;
  width:8px;
  height:49px;
}
#u5452_seg1 {
  position:absolute;
  left:-10px;
  top:-52px;
  width:20px;
  height:20px;
}
#u5453 {
  position:absolute;
  left:-50px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u5454 {
  position:absolute;
  left:820px;
  top:255px;
  width:0px;
  height:0px;
}
#u5454_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:284px;
}
#u5454_seg1 {
  position:absolute;
  left:-10px;
  top:267px;
  width:20px;
  height:20px;
}
#u5455 {
  position:absolute;
  left:-50px;
  top:132px;
  width:100px;
  word-wrap:break-word;
}
#u5456 {
  position:absolute;
  left:590px;
  top:255px;
  width:0px;
  height:0px;
}
#u5456_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u5456_seg1 {
  position:absolute;
  left:-84px;
  top:11px;
  width:88px;
  height:8px;
}
#u5456_seg2 {
  position:absolute;
  left:-84px;
  top:11px;
  width:8px;
  height:238px;
}
#u5456_seg3 {
  position:absolute;
  left:-84px;
  top:241px;
  width:81px;
  height:8px;
}
#u5456_seg4 {
  position:absolute;
  left:-11px;
  top:241px;
  width:8px;
  height:39px;
}
#u5456_seg5 {
  position:absolute;
  left:-17px;
  top:267px;
  width:20px;
  height:20px;
}
#u5457 {
  position:absolute;
  left:-130px;
  top:128px;
  width:100px;
  word-wrap:break-word;
}
#u5458 {
  position:absolute;
  left:590px;
  top:255px;
  width:0px;
  height:0px;
}
#u5458_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u5458_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u5459 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u5460 {
  position:absolute;
  left:1150px;
  top:230px;
  width:0px;
  height:0px;
}
#u5460_seg0 {
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u5460_seg1 {
  position:absolute;
  left:-99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5461 {
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5462 {
  position:absolute;
  left:240px;
  top:160px;
  width:0px;
  height:0px;
}
#u5462_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:354px;
  height:8px;
}
#u5462_seg1 {
  position:absolute;
  left:346px;
  top:-4px;
  width:8px;
  height:49px;
}
#u5462_seg2 {
  position:absolute;
  left:340px;
  top:32px;
  width:20px;
  height:20px;
}
#u5463 {
  position:absolute;
  left:148px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5464 {
  position:absolute;
  left:240px;
  top:480px;
  width:0px;
  height:0px;
}
#u5464_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u5464_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5465 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5466 {
  position:absolute;
  left:590px;
  top:255px;
  width:0px;
  height:0px;
}
#u5466_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u5466_seg1 {
  position:absolute;
  left:-4px;
  top:11px;
  width:188px;
  height:8px;
}
#u5466_seg2 {
  position:absolute;
  left:176px;
  top:11px;
  width:8px;
  height:238px;
}
#u5466_seg3 {
  position:absolute;
  left:176px;
  top:241px;
  width:58px;
  height:8px;
}
#u5466_seg4 {
  position:absolute;
  left:226px;
  top:241px;
  width:8px;
  height:39px;
}
#u5467 {
  position:absolute;
  left:130px;
  top:67px;
  width:100px;
  word-wrap:break-word;
}
#u5468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5468 {
  position:absolute;
  left:243px;
  top:736px;
  width:117px;
  height:51px;
}
#u5469 {
  position:absolute;
  left:2px;
  top:18px;
  width:113px;
  word-wrap:break-word;
}
#u5470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:71px;
}
#u5470 {
  position:absolute;
  left:235px;
  top:812px;
  width:134px;
  height:71px;
}
#u5471 {
  position:absolute;
  left:2px;
  top:28px;
  width:130px;
  word-wrap:break-word;
}
#u5472 {
  position:absolute;
  left:302px;
  top:787px;
  width:0px;
  height:0px;
}
#u5472_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u5472_seg1 {
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u5473 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:71px;
}
#u5474 {
  position:absolute;
  left:235px;
  top:919px;
  width:134px;
  height:71px;
}
#u5475 {
  position:absolute;
  left:2px;
  top:28px;
  width:130px;
  word-wrap:break-word;
}
#u5476 {
  position:absolute;
  left:302px;
  top:883px;
  width:0px;
  height:0px;
}
#u5476_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u5476_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u5477 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u5478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:71px;
}
#u5478 {
  position:absolute;
  left:235px;
  top:1026px;
  width:134px;
  height:71px;
}
#u5479 {
  position:absolute;
  left:2px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u5480 {
  position:absolute;
  left:302px;
  top:990px;
  width:0px;
  height:0px;
}
#u5480_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u5480_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u5481 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u5482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5482 {
  position:absolute;
  left:459px;
  top:929px;
  width:117px;
  height:51px;
}
#u5483 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u5484 {
  position:absolute;
  left:369px;
  top:955px;
  width:0px;
  height:0px;
}
#u5484_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u5484_seg1 {
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5485 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:71px;
}
#u5486 {
  position:absolute;
  left:235px;
  top:1135px;
  width:134px;
  height:71px;
}
#u5487 {
  position:absolute;
  left:2px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u5488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5488 {
  position:absolute;
  left:459px;
  top:1085px;
  width:117px;
  height:51px;
}
#u5489 {
  position:absolute;
  left:2px;
  top:18px;
  width:113px;
  word-wrap:break-word;
}
#u5490 {
  position:absolute;
  left:369px;
  top:1062px;
  width:0px;
  height:0px;
}
#u5490_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u5490_seg1 {
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:57px;
}
#u5490_seg2 {
  position:absolute;
  left:67px;
  top:45px;
  width:23px;
  height:8px;
}
#u5490_seg3 {
  position:absolute;
  left:77px;
  top:39px;
  width:20px;
  height:20px;
}
#u5491 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5492 {
  position:absolute;
  left:369px;
  top:1171px;
  width:0px;
  height:0px;
}
#u5492_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u5492_seg1 {
  position:absolute;
  left:67px;
  top:-64px;
  width:8px;
  height:68px;
}
#u5492_seg2 {
  position:absolute;
  left:67px;
  top:-64px;
  width:23px;
  height:8px;
}
#u5492_seg3 {
  position:absolute;
  left:77px;
  top:-70px;
  width:20px;
  height:20px;
}
#u5493 {
  position:absolute;
  left:21px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u5494 {
  position:absolute;
  left:302px;
  top:1097px;
  width:0px;
  height:0px;
}
#u5494_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u5494_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u5495 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u5496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5496 {
  position:absolute;
  left:244px;
  top:1252px;
  width:117px;
  height:51px;
}
#u5497 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u5498 {
  position:absolute;
  left:302px;
  top:1206px;
  width:0px;
  height:0px;
}
#u5498_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u5498_seg1 {
  position:absolute;
  left:-4px;
  top:30px;
  width:9px;
  height:8px;
}
#u5498_seg2 {
  position:absolute;
  left:-3px;
  top:30px;
  width:8px;
  height:16px;
}
#u5498_seg3 {
  position:absolute;
  left:-9px;
  top:33px;
  width:20px;
  height:20px;
}
#u5499 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u5500 {
  position:absolute;
  left:235px;
  top:848px;
  width:0px;
  height:0px;
}
#u5500_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u5500_seg1 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:174px;
}
#u5500_seg2 {
  position:absolute;
  left:-50px;
  top:162px;
  width:121px;
  height:8px;
}
#u5500_seg3 {
  position:absolute;
  left:63px;
  top:162px;
  width:8px;
  height:16px;
}
#u5500_seg4 {
  position:absolute;
  left:57px;
  top:165px;
  width:20px;
  height:20px;
}
#u5501 {
  position:absolute;
  left:-96px;
  top:114px;
  width:100px;
  word-wrap:break-word;
}
